/* Bjorn Van Craenenbroeck */
body {
	margin: 0;
	padding: 0;

	background-image: url("images/30440_pokemon.jpg");
	background-size: cover;
	background-position: center;
}

.container {
	padding: 20px;
}

h1 {
	text-align: center;
	color: #f82500;
	font-size: 70px;
}

.controls {
	display: flex;
	justify-content: center;
	gap: 10px;
	margin-bottom: 20px;
}

.controls select {
	padding: 10px;
	border: 1px solid #ffffff;
	border-radius: 4px;
	font-size: 16px;
	outline: none;
}

#pokemonList {
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
	justify-content: center;
}

.pokemonCard {
	border: 2px solid #f82500;
	border-radius: 10px;
	padding: 10px;
	text-align: center;
	width: 120px;
	background-color: #ffffff;
	cursor: pointer;
}

.pokemonCard:hover {
	background-color: #e53e21;
}

canvas {
	width: 100% !important;
	max-width: 500px;
	margin: 30px auto;
}
